// schema: {{scheme-name}}

pragma Singleton

import QtQuick
import Quickshell
import Quickshell.Io

Singleton {
    property string schemeName: "{{scheme-name}}"
    property string base00: "#{{base00-hex}}"
    property string base01: "#{{base01-hex}}"
    property string base02: "#{{base02-hex}}"
    property string base03: "#{{base03-hex}}"
    property string base04: "#{{base04-hex}}"
    property string base05: "#{{base05-hex}}"
    property string base06: "#{{base06-hex}}"
    property string base07: "#{{base07-hex}}"
    property string base08: "#{{base08-hex}}"
    property string base09: "#{{base09-hex}}"
    property string base0A: "#{{base0A-hex}}"
    property string base0B: "#{{base0B-hex}}"
    property string base0C: "#{{base0C-hex}}"
    property string base0D: "#{{base0D-hex}}"
    property string base0E: "#{{base0E-hex}}"
    property string base0F: "#{{base0F-hex}}"
}
